body{
    margin: 50px;
    background-color: indianred;
}

.date {
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    margin-top: 100px;
    color: seashell;

}

.timer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: turquoise;
   text-transform: uppercase;
   width: 1000px;
}

.field {
    
    flex-basis: 200;
    font-size: 40px;
    font-weight: 400;
    margin-right: 30px;
}

.value {
    color: teal;
}